.idea/
.pytest_cache/
.vscode/
docs/
corp-lang-vscode/
**/node_modules/

*/*.bat
*.bat



./run_py.bat
./update_corplang_v2.7.0.bat
./update_corplang_v2.7.0.bat
./mf.cmd
./demo_logging_levels.bat

.editorconfig
.flake8